.App {
  text-align: center;
}

.home h1 {
  color: #474B4E;
}

.header {
  background-color: aquamarine;
  height: 60px; 
}

.footer{
  background-color: aquamarine;
  height: 80px; 
  position: fixed; 
  bottom: 0; 
  width: 100%;
}

.cartacomentario{
  background-color: #a4d0cc;
}
.buscador {
  padding-top: 50px;
}

.bg-light {
  background-color: #5cffca!important ;
}

.nav-link {
  cursor: pointer;
}

.form-control-lg {
  border-radius: 50px !important;
}