body {
  background-image: url('./img//papyrus.png');
  background-repeat: repeat;
}

.my-nav {
  font-size: 20px;
  font-weight: 600;
  -webkit-box-shadow: 0px 5px 15px -5px #424242; 
  box-shadow: 0px 5px 15px -5px #424242;
}

.my-nav a {

  color: rgb(49, 49, 49) !important;
}

.home {
  padding-top: 50px;
}

.home h1 {
  color: #474B4E;
}

.header {
  background-color: aquamarine;
  height: 60px; 
}

.footer{
  background-color: rgba(219, 219, 219, 0.548);
  height: 80px; 
  position: fixed; 
  bottom: 0; 
  width: 100%;
}

.cartacomentario{
  background-color: #a4d0cc;
}

.nav-link {
  cursor: pointer;
}

.form-control-lg {
  border-radius: 50px !important;
}

.profile {
  padding-top: 50px;
}

.profile-info {
  background: linear-gradient(-45deg, #585bdb, #408df1, #23d59a, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  padding: 30px;
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.51);
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.card {
  -webkit-box-shadow: 5px 5px 15px -8px #000000; 
box-shadow: 5px 5px 15px -8px #000000;
}

.card-title {
  text-align: center;
  margin-top: 10px;
}

.card-body {
  text-align: center;
}

.agregar-doctor, .form-control {
  margin-bottom: 10px;
}

.contacto {
  padding-top: 50px;
  text-align: center;
}

.login {
  padding-top: 50px;
}



.context {
  width: 100%;
  position: absolute;
  top:50vh;
  
}

.context h1{
  text-align: center;
  color: #fff;
  font-size: 50px;
}


.area{
  background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:100vh;
  
 
}